.foto-video__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.foto-video-title {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

.foto-video-container a {
  display: block;
}
