.seating__content {
  margin: 0 auto;
}

.seating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.seating__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.seating__input {
  background: none;
  border: none;
  max-width: 600px;
  width: 100%;

  padding: 10px 20px 10px 20px;
  font-size: 25px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

  outline: none;
}

.seating__button {
  padding: 10px 25px;
  margin: 0 auto;
  margin-top: 45px;

  border-radius: 27.5px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);

  transition: background-color 0.5s;
}

.seating__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
